<div class="graph-properties ml-2">
    <div class="row caption-body">
    <div class="toolbar">
        <button ejs-button  >
            <i class="e-icons e-save-02"></i>
        </button>
        <button ejs-button  >
            <i class="e-icons e-Saveas"></i>
        </button>
        <button ejs-button >
            <i class="e-icons e-MT_Delete"></i>
        </button>
    </div>
    </div>
    <hr>

    <div class="properties-body">
        <app-column-graph></app-column-graph>
        <!-- <app-heat-map-graph></app-heat-map-graph> -->
        <!-- <app-line-graph></app-line-graph> -->
        <!-- <app-pie-graph></app-pie-graph> -->
        <!-- <app-radar-graph></app-radar-graph> -->
    </div>

    </div>