





<perfect-scrollbar [perfectScrollbar]="config" class="per ps">
<div class="card ">
  <div class="card-body">
    <h3 class=" pl-2"> {{'menu.roles'| translate}}</h3>
    <hr>
    <div class="input-group mb-2 mr-sm-2 ">
      <div class="input-group-prepend ">
        <div class="input-group-text " ngbTooltip="Add New " placement="bottom" (click)="AddNew()">
          <i class="fas fa-plus"></i>
        </div>
        <div class="input-group-text " ngbTooltip="copy " placement="bottom"   (click)="CopyRole()">
          <i class="fas fa-copy"></i>
        </div>
      </div>
      <input type="text"  class="form-control typeahead" name="newSearch" id="newSearch" [(ngModel)]="newSearch"  data-provide="typeahead" autocomplete="on" (input)="setSearch()">
    </div>
    <button type="button" style="display: none;"  class="btn btn-light btn-lg btn-block mb-1 "  disabled>
      Deselect
    </button>
    <button type="button" class="btn btn-inverse btn-lg btn-block mb-1 " aria-pressed="true" (click)="Deselect()">
      Deselect
    </button>
  
    <ul class="list-group rounded" *ngFor="let role of roles">
      <li  class="list-group-item" [class.active]="role.roleKey
      ==  roleRequest.roleKey"
      (click)="setRole(role)">
          <div class="row">
    
            <div class="col-10">
              {{role.name}}
            </div>
          </div>
          </li>
    </ul>
    </div>
</div>
</perfect-scrollbar>