<div class="control-section">
    <div align='center'>
        <ejs-chart id='charts' style='display:block;' [chartArea]='chartArea' [width]='width' align='center' [title]='title' [primaryXAxis]='primaryXAxis'
            [primaryYAxis]='primaryYAxis' (load)='load($event)' [tooltip]='tooltip' [crosshair]='crosshair'>
            <e-series-collection>
                <e-series [dataSource]='series1' type='Line' xName='x' yName='y' name='Product X' width=2 [animation]='animation'> </e-series>
                <e-series [dataSource]='series2' type='Line' xName='x' yName='y' name='Product Y' width=2 [animation]='animation'> </e-series>
            </e-series-collection>
        </ejs-chart>
    </div>
</div>