<h5 class="mb-4">{{ 'cards.user-card' | translate }}</h5>

<div class="row">
  <div class="col-md-6 col-sm-6 col-lg-4 col-12 mb-4">
    <div class="card ">
      <div class="card-body">
        <div class="text-center">
          <img alt="Profile" src="/assets/img/profile-pic-l.jpg"
            class="img-thumbnail border-0 rounded-circle mb-4 list-thumbnail">
          <p class="list-item-heading mb-1">Sarah Kortney</p>
          <p class="mb-4 text-muted text-small">Executive Director</p>
          <button type="button" class="btn btn-sm btn-outline-primary ">Edit</button>
        </div>
      </div>
    </div>
  </div>

  <div class="col-md-6 col-sm-6 col-lg-4 col-12 mb-4">
    <div class="card d-flex flex-row mb-4">
      <a class="d-flex" routerLink="./">
        <img alt="Profile" src="/assets/img/profile-pic-l.jpg"
          class="img-thumbnail border-0 rounded-circle m-4 list-thumbnail align-self-center">
      </a>
      <div class=" d-flex flex-grow-1 min-width-zero">
        <div
          class="card-body pl-0 align-self-center d-flex flex-column flex-lg-row justify-content-between min-width-zero">
          <div class="min-width-zero">
            <a routerLink="./">
              <p class="list-item-heading mb-1 truncate">Sarah Kortney</p>
            </a>
            <p class="mb-2 text-muted text-small">Executive Director</p>
            <button type="button" class="btn btn-xs btn-outline-primary ">Edit</button>
          </div>
        </div>
      </div>
    </div>

    <div class="card d-flex flex-row">
      <a class="d-flex" routerLink="./">
        <div class="rounded-circle m-4 align-self-center list-thumbnail-letters">
          SK
        </div>
      </a>
      <div class=" d-flex flex-grow-1 min-width-zero">
        <div
          class="card-body pl-0 align-self-center d-flex flex-column flex-lg-row justify-content-between min-width-zero">
          <div class="min-width-zero">
            <a routerLink="./">
              <p class="list-item-heading mb-1 truncate">Sarah Kortney</p>
            </a>
            <p class="mb-2 text-muted text-small">Executive Director</p>
            <button type="button" class="btn btn-xs btn-outline-primary ">Edit</button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="col-md-6 col-sm-6 col-lg-4 col-12 mb-4">
    <div class="card d-flex flex-row mb-4">
      <a class="d-flex" routerLink="./">
        <img alt="Profile" src="/assets/img/profile-pic-l.jpg"
          class="img-thumbnail border-0 rounded-circle m-4 list-thumbnail align-self-center small">
      </a>
      <div class=" d-flex flex-grow-1 min-width-zero">
        <div
          class="card-body pl-0 align-self-center d-flex flex-column flex-lg-row justify-content-between min-width-zero">
          <div class="min-width-zero">
            <a routerLink="./">
              <p class="list-item-heading mb-1 truncate">Sarah Kortney</p>
            </a>
            <p class="mb-2 text-muted text-small">Executive Director</p>
          </div>
        </div>
      </div>
    </div>

    <div class="card d-flex flex-row">
      <a class="d-flex" routerLink="./">
        <div class="rounded-circle m-4 align-self-center list-thumbnail-letters small">
          SK
        </div>
      </a>
      <div class=" d-flex flex-grow-1 min-width-zero">
        <div
          class="card-body pl-0 align-self-center d-flex flex-column flex-lg-row justify-content-between min-width-zero">
          <div class="min-width-zero">
            <a routerLink="./">
              <p class="list-item-heading mb-1 truncate">Sarah Kortney</p>
            </a>
            <p class="mb-2 text-muted text-small">Executive Director</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
