<div class="side2" (mouseover)="sendExpand(true)"  (mouseout)='sendExpand(false)'>
    <div id="asd">
        <i class="mdi mdi-account-circle i mb-1" style="font-size: 1.5rem;
        height: 1rem;
        position: relative;
        top: -7px;" aria-hidden="true"></i>
        <h6 class="h span ">Admin</h6>
        <div class="rounded py-2" style="background: #dddddd;">

            <a href="javascript:void(0)" class="a text-left pl-2 "
            (click)="openTab('Security Manager','/sc','fas fa-user-lock')">
                <i class="fas fa-user-lock hover-inside"></i><span class="h pl-2 hover-inside"> Security Manager
                </span>
            </a>
            <a href="javascript:void(0)" class="a text-left pl-2 "
            (click)="openTab('Configuration manager','/cons','fas fa-clipboard-check')">
                <i class="fas fa-clipboard-check hover-inside"></i><span class="h pl-2 hover-inside">
                    Configuration Manager </span>
            </a>
            <a href="javascript:void(0)" class="a text-left pl-2 "
            (click)="openTab('Operation manager','/OM','fas fa-chalkboard-teacher')">
                <i class="fas fa-chalkboard-teacher hover-inside"></i><span class="h pl-2 hover-inside"> Operation
                    Manager </span>
            </a>
        </div>
    </div>
    <div id="asd">
        <i class="fab fa-affiliatetheme i" aria-hidden="true"></i>
        <span class="hh span" >Foundation</span>
        <div class="rounded py-2" style="background: #dddddd;">

            <a href="javascript:void(0)" class="a text-left pl-2 "
                >
                <i class="fab fa-acquisitions-incorporated hover-inside"></i>
                <span class="h pl-2 hover-inside">
                        Master Data
                </span>
            </a>
            <a href="javascript:void(0)" class="a text-left pl-2 "
                >
                <i class="fab fa-algolia hover-inside"></i>
                <span class="h pl-2 hover-inside">
                    Action Manager </span>
            </a>
            <a href="javascript:void(0)" class="a text-left pl-2 "
                >
                <i class="fas fa-ambulance hover-inside"></i><span class="h pl-2 hover-inside"> Notification Center </span>
            </a>
        </div>
    </div>
    <div id="asd">
        <i class="fas fa-heartbeat i" aria-hidden="true"></i>
        <span class="h span">Health </span>
        <div class="rounded py-2" style="background: #dddddd;">

            <a href="javascript:void(0)" class="a text-left pl-2 "
                >
                <i class="fas fa-file-medical hover-inside"></i><span class="h pl-2 hover-inside"> Asset Health Manager
                </span>
            </a>
            <a href="javascript:void(0)" class="a text-left pl-2 "
                >
                <i class="fas fa-notes-medical hover-inside"></i><span class="h pl-2 hover-inside">
                    Health Indicators </span>
            </a>
            
        </div>
    </div>
    <div id="asd">
        <i class="fas fa-atlas i" aria-hidden="true"></i>
        <span class="h span">Reliablity </span>
        <div class="rounded py-2" style="background: #dddddd;">

            <a href="javascript:void(0)" class="a text-left pl-2 "
                >
                <i class="fas fa-asterisk hover-inside"></i><span class="h pl-2 hover-inside"> Risk Based Inspection
                </span>
            </a>
            <a href="javascript:void(0)" class="a text-left pl-2 "
                >
                <i class="fas fa-assistive-listening-systems hover-inside"></i><span class="h pl-2 hover-inside">
                    Thinkness Monotiring </span>
            </a>
        </div>
    </div>
    <div id="asd">
        <i class="fas fa-building i" aria-hidden="true"></i>
        <span class="h span">Strategy </span>
        <div class="rounded py-2" style="background: #dddddd;">

            <a href="javascript:void(0)" class="a text-left pl-2 "
                >
                <i class="fas fa-bahai hover-inside"></i><span class="h pl-2 hover-inside"> RCM
                </span>
            </a>
            <a href="javascript:void(0)" class="a text-left pl-2 "
                >
                <i class="fab fa-artstation hover-inside"></i><span class="h pl-2 hover-inside">
                    Root Cause Analysis </span>
            </a>
            <a href="javascript:void(0)" class="a text-left pl-2 "
                >
                <i class="fab fa-audible hover-inside"></i><span class="h pl-2 hover-inside"> MBA </span>
            </a>
        </div>
    </div>
    <div id="asd">
        <i class="fas fa-chart-bar i" aria-hidden="true"></i>
        <span class="h span">Analytics </span>
        <div class="rounded py-2" style="background: #dddddd;">

            <a href="javascript:void(0)" class="a text-left pl-2 ">
                <i class="fas fa-chart-area hover-inside"></i><span class="h pl-2 hover-inside"> Asset Answers
                </span>
            </a>
            <a href="javascript:void(0)" class="a text-left pl-2 ">
                <i class="fas fa-chart-pie hover-inside"></i><span class="h pl-2 hover-inside">
                    Reports KPI </span>
            </a>
            <a href="javascript:void(0)" class="a text-left pl-2 ">
                <i class="fas fa-chart-line hover-inside"></i><span class="h pl-2 hover-inside"> Cubes </span>
            </a>
        </div>
    </div>
    <div id="asd">
        <i class="fas fa-brain i" aria-hidden="true"></i>
        <span class="h span">AI </span>
        <div class="rounded py-2" style="background: #dddddd;">

            <a href="javascript:void(0)" class="a text-left pl-2 ">
                <i class="fas fa-mail-bulk hover-inside"></i>
                <span class="h pl-2 hover-inside"> Inspection Training
                </span>
            </a>
            <a href="javascript:void(0)" class="a text-left pl-2 "
                >
                <i class="fas fa-trailer hover-inside"></i><span class="h pl-2 hover-inside">
                    Connected Sources </span>
            </a>
            <a href="javascript:void(0)" class="a text-left pl-2 "
                >
                <i class="fas fa-crosshairs hover-inside"></i><span class="h pl-2 hover-inside"> Accuracy </span>
            </a>
        </div>
    </div>
    <div id="asd">
        <i class="fas fa-tools i" aria-hidden="true"></i>
        <span class="h span">Tools </span>
        <div class="rounded py-2" style="background: #dddddd;">

            <a href="javascript:void(0)" class="a text-left pl-2 "
            (click)="openTab('Catalog','/Ct','fas fa-atlas')">
                <i class="mdi mdi-receipt hover-inside"></i><span class="h pl-2 hover-inside"> Catalog
                </span>
            </a>
            <a href="javascript:void(0)" class="a text-left pl-2 "
                >
                <i class="fas fa-search-plus hover-inside"></i><span class="h pl-2 hover-inside"> Advanced Search
                </span>
            </a>
            <a href="javascript:void(0)" class="a text-left pl-2 "
                >
                <i class="fas fa-laptop-house hover-inside"></i><span class="h pl-2 hover-inside"> Workflow
                </span>
            </a>
            <a href="javascript:void(0)" class="a text-left pl-2 "
            (click)="openTab('Dataloaders','/dl','fas fa-toolbox')">
                <i class="fas fa-toolbox hover-inside"></i><span class="h pl-2 hover-inside"> Dataloaders
                </span>
            </a>
            <a href="javascript:void(0)" class="a text-left pl-2 "
                >
                <i class="fas fa-camera-retro hover-inside"></i><span class="h pl-2 hover-inside"> Snapshots
                </span>
            </a>
            <a href="javascript:void(0)" class="a text-left pl-2 "
            (click)="openTab('Query Composer','/qc','fab fa-app-store-ios')">
                <i class="fab fa-app-store-ios hover-inside"></i><span class="h pl-2 hover-inside"> Query Composer
                </span>
            </a>
            <a href="javascript:void(0)" class="a text-left pl-2 "
                >
                <i class="mdi mdi-code-braces hover-inside"></i><span class="h pl-2 hover-inside"> URL Tool
                </span>
            </a>
            <a href="javascript:void(0)" class="a text-left pl-2 "
            (click)="openTab('Graphs','/gpc','fas fa-project-diagram')">
                <i class="fas fa-project-diagram hover-inside"></i><span class="h pl-2 hover-inside"> Graphs
                </span>
            </a>
            <a href="javascript:void(0)" class="a text-left pl-2 "
                >
                <i class="mdi mdi-av-timer hover-inside"></i><span class="h pl-2 hover-inside"> Dashboards
                </span>
            </a>
            <a href="javascript:void(0)" class="a text-left pl-2 "
                >
                <i class="mdi mdi-pen hover-inside"></i><span class="h pl-2 hover-inside">
                    Reports </span>
            </a>
            
        </div>
    </div>
    <div class="" style="height:500px;"></div>



    <div id="asd" class="sub_div" (click)="signout()">
        <i class="fas fa-sign-out-alt i " aria-hidden="true"></i>
        <span class="hide-menu h span">Signout</span>
    </div>
</div>
