@import'../../../assets/scss/variable';
*{
    background: $dark1;
}
div{
    color: #e1e1e9;
    // cursor: pointer;
    i{
        padding-top: 8px;
        padding-bottom: 21px;
        height: 2.1rem;
        align-self: start;
        font-size: 1.4rem;
    }
    span{
        height: 15px;
    }
    text-align: center;
    .h{
        
        margin-bottom: 5px;
        font-size: 0.8rem;
    }
    .hh{
        margin-bottom: 5px;
        font-size: 0.8rem;
    }
}
// #asd:hover{
//     background: rgb(69, 68, 68);
// }
.catalog{
    height: 100%;
    padding-top: 10px !important;
}
.form{
    height: 100%;
    padding-top: 20px !important;
}
.rounded {
    background-color: $dark1 !important;
    i{
        color: #cdd7dc;
        display: inline;
        
    }
    
    a{
        span{
            position: relative;
            top: -2px;
        }
        // border-bottom: 0.5px solid rgb(189, 189, 189);
         background-color: $dark1;//
        //  border-radius: 2px;
         
    }
    a i{
        color: #cdd7dc;
        // border-bottom: 0.5px solid rgb(189, 189, 189);
         background-color: $dark1;
    }
    a:hover{
        border-left: 1px solid whitesmoke;
        // border-bottom: 0.5px solid rgb(189, 189, 189);
         background-color: $dark2;
         i{
             background-color: $dark2;
             color: #fff;
         }
         span{
             background-color: $dark2;
             color: #fff;
         }
    }
}
.side2{
    width: 70px;
    height: 100%;
     animation-name: example;
  animation-duration: 0.4s;
  
}
@keyframes example {
  from {width: 260px;}
  to {width: 70px;}
}
i{
    display: block;
}
span{
    display: block;
    color: #cdd7dc;
}
.a{
    // height: 30px;
    display: block;
}

#asd div { 
       display: none;
       width: 190px;
        position: absolute;
    color: #cdd7dc;
    background: $dark1;
    padding: 0px;
    top: 0;
    left: 70px;
    a{
        span{
            font-size: 0.9rem;
        }
        i{
            font-style: normal;
            width: 28px;
            line-height: 25px;
            // font-size: 21px;
            display: inline-block;
            text-align: center;
        }
    }
    
}
#asd {
    border-bottom: 0.5px solid rgb(189, 189, 189);
    position: relative;
    cursor: pointer;
}
#asd:hover div {
    display: block;
    text-align: center;
    background-color: $dark1;
    z-index: 1000 !important;
}

#asd:hover{
    color: #fff;
    background-color: $dark2;
}
#asd:hover .i{
    color: #fff;
    background-color: $dark2;
}
#asd:hover .span{
    color: #fff;
    background-color: $dark2;
}

.hover-inside:hover{
    // padding-left: 10px !important;
    i{
        color: #fff;
    background-color: $dark2;
    }
    span{
        color: #fff;
    background-color: $dark2;
    }
}
//1e282c
.sub_div {
    border-top: 0.5px solid rgb(189, 189, 189);
    position: fixed !important;
     left: 0;
     width: 70px;
     bottom: 0px;
}

.sidebar-nav {
    ul {
        .sidebar-item {
            // width: $sidebar-width-full;
            background: inherit;

            .sidebar-link {
                // color: $sidebar-text;
                // padding: $sidebar-link-padding;
                display: flex;
                white-space: nowrap;
                align-items: center;
                line-height: 25px;
                opacity: 0.8;
                font-weight: 300;

                i {
                    font-style: normal;
                    width: 35px;
                    line-height: 25px;
                    // font-size: $sidebar-icon-size;
                    display: inline-block;
                    text-align: center;
                }
            }
        }
    }
}


.hover-inside{
    display: inline;
}