


<div class="row p-5">
    <div class="col-xl-3 col-lg-6">
        <div class="card l-bg-blue-dark" (click)="openTab('Entities Management','/ent','fas fa-table')">
            <div class="card-statistic-3 p-4">
                <div class="card-icon card-icon-large">
                    <i class="fas fa-table i"></i>
                </div>
                <div class="my-3">
                    <h5 class="card-title mb-0">Entities Management</h5>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xl-3 col-lg-6">
        <div class="card l-bg-grey-dark" (click)="openTab('UOM','/uo','fas fa-weight')">
            <div class="card-statistic-3 p-4">
                <div class="card-icon card-icon-large">
                    <i class="fas fa-weight i"></i>
                </div>
                <div class="my-3">
                    <h5 class="card-title mb-0">Unites of Measuring</h5>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xl-3 col-lg-6">
        <div class="card l-bg-teal-dark" (click)="openTab('Measuring System','/mss','fas fa-weight')">
            <div class="card-statistic-3 p-4">
                <div class="card-icon card-icon-large">
                    <i class="fas fa-weight i"></i>
                </div>
                <div class="my-3">
                    <h5 class="card-title mb-0">Measuring System</h5>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xl-3 col-lg-6">
        <div class="card l-bg-green-dark" (click)="openTab('Data Source','/daso','fas fa-database')">
            <div class="card-statistic-3 p-4">
                <div class="card-icon card-icon-large">
                    <i class="fas fa-database i"></i>
                </div>
                <div class="my-3">
                    <h5 class="card-title mb-0">Data Source</h5>
                </div>
            </div>
        </div>
    </div>

</div>


<div class="row pb-5 pl-5 pr-5 pt-3">
   
    <div class="col-xl-3 col-lg-6">
        <div class="card l-bg-cherry" (click)="openTab('APM Formation','/apm','fas fa-file-download')">
            <div class="card-statistic-3 p-4">
                <div class="card-icon card-icon-large">
                    <i class="fas fa-file-download i"></i>
                </div>
                <div class="my-3">
                    <h5 class="card-title mb-0">APM Formation</h5>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xl-3 col-lg-6">
        <div class="card l-bg-orange-dark" (click)="openTab('Asset Hierarchy Admin','/ashrad','fas fa-tree')">
            <div class="card-statistic-3 p-4">
                <div class="card-icon card-icon-large">
                    <i class="fas fa-tree i"></i>
                </div>
                <div class="my-3">
                    <h5 class="card-title mb-0">Asset Hierarchy Admin</h5>
                </div>
            </div>
        </div>
    </div>
</div>