<ejs-tab id="element" >
    <e-tabitems >
            <e-tabitem>
                <ng-template #headerText>
                    <div> Export </div>
                </ng-template>
                <ng-template #content>
                    <hr>
                    <app-apm-formation-export></app-apm-formation-export>
                </ng-template>
            </e-tabitem>
            <e-tabitem>
                <ng-template #headerText>
                    <div> Import </div>
                </ng-template>
                <ng-template #content>
                    <hr>
                    <app-apm-formation-import></app-apm-formation-import>
                </ng-template>
            </e-tabitem>
        </e-tabitems>
    </ejs-tab>