<div class="import-full">
    <div class="row  export">
        <p> Import File </p>
    
                <div class="control_wrapper">
                    <ejs-uploader #defaultupload id='fileupload' [asyncSettings]='path' [autoUpload]='false' [buttons]="buttons"></ejs-uploader>
                </div>
    
    <button class="e-btn " (click)="click()" disabled>start import</button>
    </div>
    
    <hr>
    <div class="control-section ">
    <div class="dual-list-wrapper">
        <div class="dual-list-groupa">
            <p>Available Items</p>
            <div class="search-list">
                <ejs-textbox placeholder="Search.."  ></ejs-textbox>
            </div>
            <ejs-listbox 
            [dataSource]="dataw"
            #listbox3
            [toolbarSettings]="toolbarSettings1"
            height="295px"
            scope="#connected-list1" 
            [fields]="fields1"
            
            [allowDragAndDrop]="true" 
            [selectionSettings]="selection1"
            ></ejs-listbox>
        </div>
        <div class="dual-list-groupb">
            <p class="p">Selected Items</p>
            
            <ejs-listbox 
            id="connected-list1"
            #listbox4 
            [dataSource]="dataq" 
            height="295px" 
            [fields]="fields1"
            [allowDragAndDrop]="true"
            scope="#connected-list1"  
            [selectionSettings]="selection1">
            </ejs-listbox>
        </div>
    </div>
    
    </div>
    
    <hr>
    <div class="export-grid">
        <div class="control-section mb-2" style="margin-right: 2%; margin-left: 2%; height: 100%;">
            <ejs-grid [dataSource]='data_grid' height='100%' allowResizing= 'true'  [pageSettings]='initialPage'  allowPaging='true' >
                <e-columns>
                    <e-column field='OrderID' headerText='SN' width='20%' ></e-column>
                    <e-column field='CustomerName' headerText='Job ID' width='20%'></e-column>
                    <e-column field='OrderDate' headerText='Export Date' width='20%' format="yMd" ></e-column>
                    <e-column field='Freight' headerText='File Name' width='20%' format='C2' ></e-column>
                    <e-column field='ShippedDate' headerText='Entity' width='20%' format="yMd" ></e-column>
                </e-columns>
            </ejs-grid>
        </div>
    </div>
</div>