<h5 class="mb-4">{{ 'cards.image-overlay-card' | translate }}</h5>
<div class="row mb-2">
  <div class="col-xs-6 col-lg-3 col-12 mb-4">
    <div class="card bg-dark text-white">
      <img class="card-img" src="/assets/img/card-thumb-1.jpg" alt="Card image">
      <div class="card-img-overlay">
        <p class="list-item-heading mb-5">{{'cards.cake-text-3' | translate}}</p>
        <p class="card-text">Life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat
          skateboard dolor brunch.</p>
      </div>
    </div>
  </div>
</div>
