/*******************
 Breadcrumb and page title
*******************/

.page-breadcrumb {
    padding: 0px 10px;
    background-color: $white;

    .page-title {
        color: $black;
        margin-bottom: 0px;
    }

    .breadcrumb {
        padding: 0px;
        margin: 0px;
        background: transparent;
        font-size: 12px;

        .breadcrumb-item+.breadcrumb-item::before {
            content: "\e649";
            font-family: themify;
            color: $gray-400;
            font-size: 11px;
        }
    }
}
