
<div class="">
  <div class="sidetree-left float-left">
     <roles-sidebar (GetUsersListEvent)="GetUsers($event)"  (AddNewEvent)="AddNew($event)"[ChildSaveFlag]="ParentSaveFlag"  [ChildDeleteElementFlag]="DeleteElementFlag" ></roles-sidebar> 
  </div>
  <div class="sidetree-right float-left">
    <h1 class="massage text-center" *ngIf="!showInfoForm">{{'general.massage' | translate}}</h1>
    <role-info *ngIf="showInfoForm "   [ChildUsers]="Users" [ChildAddNewFlag]="AddNewFlag"  (SaveEvent)="Save($event)" (DeleteElementEvent)="DeleteElement($event)" ></role-info>
  </div>
</div>


