
    <div class="row caption-body">
        <div class="toolbar">
            <div class="style-ico">
            <button ejs-button  >
                <i class="e-icons e-plus"></i>
            </button>
            <button ejs-button  >
                <i class="e-icons e-save-02"></i>
            </button>
            
            <button ejs-button >
                <i class="e-icons table-02"></i>
            </button>
        </div>
            <button ejs-button >
                rebuild
            </button>
        </div>
    </div>
    <hr>

    <div class="ldab-main-content-full mx-3 mb-3">

        <div class="row">
            <div class="col-12 my-2">
                <ul>
                    <li><ejs-radiobutton label="Root? " name="default" checked="true"></ejs-radiobutton></li>
                </ul>
            </div>
            <div class="col-12 my-2">
                <div class='textboxes'>
                <ejs-dropdownlist id='ddlelement' [dataSource]='data1' [(ngModel)]="Parent_Family" placeholder = 'Parent Family' floatLabelType="Always"></ejs-dropdownlist>
                </div>
            </div>
            <div class="col-12 my-2">
                <div class='textboxes'>
                <ejs-dropdownlist id='ddlelement' [dataSource]='data2' [(ngModel)]="Relationship"  placeholder = 'Relationship' floatLabelType="Always"></ejs-dropdownlist>
                </div>
            </div>
            <div class="col-12 my-2">
                <div class='textboxes'>
                <ejs-dropdownlist id='ddlelement' [dataSource]='data3' [(ngModel)]="Child_Family"  placeholder = 'Child Family' floatLabelType="Always"></ejs-dropdownlist>
                </div>
            </div>
            <div class="col-12 my-2">
                <div class='textboxes'>
                <ejs-dropdownlist id='ddlelement' [dataSource]='data4' [(ngModel)]="Display_Field"  placeholder = 'Display Field' floatLabelType="Always"></ejs-dropdownlist>
                </div>
            </div>
            <div class="col-12 my-2">
                <div class='textboxes'>
                <ejs-dropdownlist id='ddlelement' [dataSource]='data5' [(ngModel)]="Taxonomy_Category"  placeholder = 'Taxonomy Category' floatLabelType="Always"></ejs-dropdownlist>
                </div>
            </div>
            <div class="col-12 my-2">
                <div class='textboxes'>
                <ejs-dropdownlist id='ddlelement' [dataSource]='data6' [(ngModel)]="Taxonomy_Class"  placeholder = 'Taxonomy Class' floatLabelType="Always"></ejs-dropdownlist>
                </div>
            </div>
            <div class="col-12 my-2">
                <div class='textboxes'>
                <ejs-dropdownlist id='ddlelement' [dataSource]='data7' [(ngModel)]="Taxonomy_Type"  placeholder = 'Taxonomy Type' floatLabelType="Always"></ejs-dropdownlist>
                </div>
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-12 my-2">
                <ul>
                    <li><ejs-radiobutton label="Root? " name="default" ></ejs-radiobutton></li>
                </ul>
            </div>
            <div class="col-12 my-2">
                <div class='textboxes'>
                <ejs-dropdownlist id='ddlelement' [dataSource]='data1' [(ngModel)]="Parent_Family" placeholder = 'Parent Family' floatLabelType="Always"></ejs-dropdownlist>
                </div>
            </div>
            <div class="col-12 my-2">
                <div class='textboxes'>
                <ejs-dropdownlist id='ddlelement' [dataSource]='data2' [(ngModel)]="Relationship"  placeholder = 'Relationship' floatLabelType="Always"></ejs-dropdownlist>
                </div>
            </div>
            <div class="col-12 my-2">
                <div class='textboxes'>
                <ejs-dropdownlist id='ddlelement' [dataSource]='data3' [(ngModel)]="Child_Family"  placeholder = 'Child Family' floatLabelType="Always"></ejs-dropdownlist>
                </div>
            </div>
            <div class="col-12 my-2">
                <div class='textboxes'>
                <ejs-dropdownlist id='ddlelement' [dataSource]='data4' [(ngModel)]="Display_Field"  placeholder = 'Display Field' floatLabelType="Always"></ejs-dropdownlist>
                </div>
            </div>
            <div class="col-12 my-2">
                <div class='textboxes'>
                <ejs-dropdownlist id='ddlelement' [dataSource]='data5' [(ngModel)]="Taxonomy_Category"  placeholder = 'Taxonomy Category' floatLabelType="Always"></ejs-dropdownlist>
                </div>
            </div>
            <div class="col-12 my-2">
                <div class='textboxes'>
                <ejs-dropdownlist id='ddlelement' [dataSource]='data6' [(ngModel)]="Taxonomy_Class"  placeholder = 'Taxonomy Class' floatLabelType="Always"></ejs-dropdownlist>
                </div>
            </div>
            <div class="col-12 my-2">
                <div class='textboxes'>
                <ejs-dropdownlist id='ddlelement' [dataSource]='data7' [(ngModel)]="Taxonomy_Type"  placeholder = 'Taxonomy Type' floatLabelType="Always"></ejs-dropdownlist>
                </div>
            </div>
            <div class="col-12 my-2">
                <button ejs-button class="float-right">
                    delete
                </button>
            </div>
        </div>

        
        </div>
        