

.query-results{
    .control-section{
        margin:  0px 1px 1px 1px;
        overflow: auto;
        height: calc(100vh - 78px);
    
        td{
            width: 100%;
        }
    }
    
    
}
























