<div class="background">
  <div class="fixed-background"></div>
  <main class="ml-0">
    <div class="container">
      <div class="row h-100">
        <div class="col-12 col-md-10 mx-auto my-auto">
          <div class="card auth-card">
            <div class="position-relative image-side ">
              <p class=" text-white h2">MAGIC IS IN THE DETAILS</p>
              <p class="text-white mb-0">Yes, it is indeed!</p>
            </div>
            <div class="form-side">
              <div class="text-center">
                <a href="Dashboard.Default.html">
                  <span class="logo-single"></span>
                </a>

                <h6 class="mb-4">Ooops... looks like an error occurred!</h6>
                <p class="mb-0 text-muted text-small mb-0">Error code</p>
                <p class="display-1 font-weight-bold mb-5">
                  403
                </p>
                <a href="Dashboard.Default.html" class="btn btn-primary btn-lg btn-shadow">GO BACK HOME</a>
              </div>

            </div>
          </div>
        </div>
      </div>
    </div>
  </main>
  <script src="js/vendor/jquery-3.3.1.min.js"></script>
  <script src="js/vendor/bootstrap.bundle.min.js"></script>
  <script src="js/dore.script.js"></script>
  <script src="js/scripts.js"></script>
</div>
